body{
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: #fff;
}

.container{
    background-color: rgba(0,0,0,0.4);
    padding: 50px 50px;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    text-align: center;
    margin-bottom: 25px;
}

.container a{
    color: lightblue;
    text-decoration: none;
}

form{
    width: 70%;
}

.formitem{
    position: relative;
    margin: 20px 0 30px;
}

.formitem input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    color: white;
    font-size: 18px;
}

.formitem input:focus,
 .formitem input:valid{
    outline: 0;
    border-color: lightblue;
}

.btn{
    background-color: lightblue;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.formitem label{
    position: absolute;
    top: 13px;
    left: 0;
}

.formitem label span{
    font-size: 18px;
    display: inline-block;
    transition: 0.28s cubic-bezier(0.075, -0.82, 0.165, 1) ;
}

.formitem input:focus + label span,
.formitem input:valid + label span{
    transform: translateY(-25px);
    color: lightblue;
    font-size: 16px;
}


.loginpannel{
    width: 50%;
    height: 100vh;
}