*{
    padding: 0;
    margin: 0;
}


.authentic{
    display: none;
}

.adminLogout{
    display: none;
}

body{
    min-height: 100vh;
    text-align: center;
}


.contribute{
   min-height: 50vh; 
    display: flex;
}
.contribute .adminrequest,.githubcontri{
    width: 50%;
    height: inherit;
}

.githubcontri{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #171717;
    padding-top: 20px;
    font-family: 'Ubuntu Mono', monospace;
}
.githubcontri .giticon{
    font-size: 90px;
    color: black;
    
}
.gitcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adminrequest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.adminaccess{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;

}
.adminaccess input{
    margin: 5px;
    padding: 3px;
}
.adminaccess textarea{
    padding: 3px;
}

.card{
    margin: 10px;

}
.card:hover{
    cursor: pointer;


}

.main{
    height: 100vh;
}

.main h3{
    text-align: center;
}

.navAdmin{
    visibility: visible;
}

.navdiv{
    position: sticky;
    display: flex;
    background-color: #DA0037;
    top: 0;
    opacity: 0.94;
}

.navbar{
    width: 65%;
    height: 80px;
    display: flex;
    z-index: 999;
}

.mainlogo{
    height: 75px;
    color: white;
}
.rightnav{
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    width: 35%;
    display: flex;
}

.rightnav button{
    margin: 0 10px;
    background-color: #444444;
    border-color: Black;
}

.navbar button{
    right: 10px;
}

.yearCards{
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    min-height: 65vh;
}






.features{
    display: flex;
    padding: 40px 0;
    background-color: white;
    min-height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.homefooter{
    background-color: #DA0037;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    min-height: 40vh;
}

.yearHeading{
    padding: 20px 0;
    background-color: pink;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    background-color: #444444;
    color: white;
    letter-spacing: 2px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 450px;

}



.features>:nth-child(even){
    flex-direction: column-reverse;
}

.fimage{
    height: 200px;
    border-radius: 10px;
}

.written{
    text-align: center;
    width: 80%;
}

.projectDetails h1{
    text-align: center;
    font-size: 20px;
}

.projectContent{
    display: flex;
}

.projectContent .left{
    width: 70%;
    border-right: 1px solid grey;
}
.projectContent .right{
    width: 30%;
   
   display: flex;
   justify-content: center;
   align-items: center;
}

.knowmore{
    margin: 80px;
    text-decoration: none;
}

.projectContent .left .techs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.techs div img{
    max-height: 100px;
    margin: 20px;
}

.left h4{
    text-align: center;
}


.header{
    background: url("/img/headerback.jpg");
    height: 85vh;
    background-position: center;
    background-size: cover;
}

.headercontent{
    font-family: 'Ubuntu Mono', monospace;
    width: 70%;
    padding: 5rem;
}

.headercontent h1{
    margin-top: 3rem;
    font-size: 7.5rem;
    font-weight: 700;
    color: black;
}

.headercontent p{
    font-size: 24px
}

.ycard{
    display: flex;
    flex-direction: column;
    height: 400px;
    border: 1px solid #171717;
    text-align: center;
    padding: 25px;
    width: 250px;
    background: linear-gradient(to bottom right, #810524,#d8466a);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 30px;
}
.ycard .ycard-title{
    font-size: 4em;
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    color: white;
    
}
.ycard .btn{
    margin-top: 100px;
    border: 1px solid #970328;
    background-color: #DA0037;
    padding: 15px 25px;
}

.ycard:nth-child(1){
    background: linear-gradient(to bottom right, #0a2a44,#9e243f);
}
.ycard:nth-child(2){
    background: linear-gradient(to bottom right, #0c2712,#058d4e);
}
.ycard:nth-child(4){
    background: linear-gradient(to bottom right, #240505,#af0328);
}

.logofooter{
    height: 250px;
}

@media only screen and (max-width:760px){
    .header{
        width: 100%;
    }
    .headercontent{
        width: 80%;
        text-align: left;
    }
    .headercontent .title{
        font-size: 60px;
    }

    .navdiv{
        width: inherit;
    }

    .intro{
        width: 100%;
    }
    .features{
        max-width: 100vw;
        flex-direction: column;
    }
    .features>:nth-child(even){
        flex-direction: column;
    }
    .feature{
        flex-direction: column;
    }
    .feature h2{
        font-size: 28px;
    }

    .yearCards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ycard{
        margin: 10px;
    }

    .contribute{
        flex-direction: column-reverse;
    }
    .contribute .adminrequest{
        width: 100%;
        padding-top: 15px;
    }

    .githubcontri,.adminrequest{
        width: 100%;
        border-top: 1px solid black;
    }

    .adminrequest h2{
        font-size: 22px;
    }

    .adminaccess{
        width: 90%;
        margin: auto;
    }

    .projectContent{
        flex-direction: column;
    }
    .projectContent .left{
        width: 100%;
    }
    .projectContent .right{
        width: 100%;
    }
    
    .techs div img{
        height: 60px;
    }

    .gitcontent h2{
        font-size: 30px;
    }
    .gitcontent h3{
        font-size: 25px;
    }

}