body{
    background: linear-gradient(to bottom right, #171717,#971313);
    height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
}



.addFile{
    max-width: 50%;
    margin: 60px auto 0 auto;
    text-align: center;
    border: 2px solid black;
    padding: 25px;
    background-color: rgb(25, 45, 61);
}

.upload{
    color: white;
}
.upload input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    color: white;
   
}
.upload select{
    width: 80%;
    margin-top: 10px;
    background-color: transparent;
    color: white;
}
.upload select option{
    background-color: transparent;
    color: black;
}
.upload button{
    margin-top: 20vh;
}

.adminheading{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.loginpannel{
    border-radius: 30px;
    margin: 40px auto 0 auto;
    background-color: steelblue;
    width: 60vw;
    padding-bottom: 50px;
}

@media only screen and (max-width:740px){
    .addFile{
        max-width: 95%;
    }
    .upload{
        width: 95%d;
    }
}