*{
    padding: 0;
    margin: 0;
}

.authentic{
    display: none;
}
body{
    background: linear-gradient(#2b0c14,#802a2a);
    min-height: 100vh;
    font-family: 'Ubuntu Mono', monospace;
}
.subCards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 20px;
}

.subcard{
    border: 1px solid rgb(66, 62, 62);
    min-height: 45vh;
    width: 100px;
    background: linear-gradient(to bottom right,rgb(120, 21, 185),rgb(3, 4, 66));
    border-radius: 15px ;
    
}

.subcard-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
}

.subcard .subcard-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    height: 65%;

}

.subcbuttons{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    text-align: center;
}

.subcbuttons .btn,.delButton{
    margin: 3px;

}
.subcbuttons .btn{
    background-color: #171717;
}
.subcbuttons .delButton{
    background-color: transparent;
}

.yearIntro{
    padding: 25px;
    height: 25vh;
    background-color: #171717;
    color: white;
}

.yearIntro h1{
    font-size: 60px;
    text-transform: uppercase;
}


@media only screen and (max-width:740px){
    .subCards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .yearIntro h1{
        font-size: 35px;
    }
    .yearIntro h3{
        font-size: 28px;
    }
}

